<section class="costumer">
    <div class="costumer-container">
<h2 class="costumer-title">WHAT OUR COSTUMER’S SAY</h2>
<div class="costumer-card">
    <img class="costumer-image" src="./img/Ellipse 1.png" alt="men's portrait">
    <h3 class="costumer-name">Jon Doe</h3>
    <p class="costumer-company">Company Inc.</p>
</div>
<p class="customer-comment">I've been using this app for a few weeks now and I have to say, I'm really impressed. It's so easy to use and the personalized recommendations are spot-on. Plus, the transactions are secure and the updates are always timely. I would definitely recommend this app to anyone looking for a better mobile experience</p>
    </div>
</section>