<header class="header">
  <div class="header-container">
    <nav class="header-nav">
      <a href="" class="header-logo-link">Mobileapp</a>
      <ul class="nav-list list">
        <li class="nav-item"><a class="nav-link link" href="">HOME</a></li>
        <li class="nav-item"><a class="nav-link link" href="">FEATURES</a></li>
        <li class="nav-item"><a class="nav-link link" href="">TEAM</a></li>
        <li class="nav-item">
          <a class="nav-link link" href="">TESTIMONIALS</a>
        </li>
        <li class="nav-item"><a class="nav-link link" href="">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>
