.footer {
    background-color: #06071B
}

.footer-container{
    
}


.footer-title {
    color: #FFF;
        font-size: 24px;
        font-family: Inter;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 80px;
}

.footer-wrap {color: #FFF;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;}

.footer-wrap-title {color: #FFF;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;}

.footer-wrap-text {}
