a {
  padding: 0;
  text-decoration: none;
}

.header {
  background: linear-gradient(99deg, rgba(0, 197, 235, 0.30) 0%, rgba(181, 68, 254, 0.30) 100%);
    backdrop-filter: blur(17.5px);
}

.header-container {

}

.header-nav {
  display: flex;
  align-items: center;
}
 .nav-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 40px;
 }